[submodule "external/linux"]
	path = external/linux
	url = git@github.com:utcs-scea/linux.git
	branch = kernmlops
[submodule "module/caladan"]
	path = module/caladan
	url = https://github.com/shenango/caladan.git
